<div id="INSERT ID" role="alert" aria-live="assertive" aria-atomic="true" class="toast bg-warning text-black unbound" data-bs-autohide="false" style="font-family: 'Inter', sans-serif" data-bs-delay="20000">
    <div class="toast-header">
        <div class="me-auto"><b>PDF Save: </b> Unbound Shortcut</div>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-white">
      INSERT COMMAND shortcut is unbound
      <hr>
      Go to <a href="chrome://extensions/shortcuts" target="_blank">chrome://extensions/shortcuts</a> to bind it
    </div>
  </div>