<div class="modal modal-centered" id="savePagePrompt" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="font-family: 'Inter', sans-serif">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Save at Page</b></h5>
            </div>
            <div class="modal-body">
                <form id="savePageForm">
                    <div class="mb-3">
                        <label for="savePageInput" class="col-form-label" style="padding-right: 1px">Page Number:</label>
                        <input type="number" name="page" min="0" class="form-control " id="savePageInput" placeholder="input current or any page #">
                        <input type="submit" value="submit" style="display: none;" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <small><i>Saving will reopen the pdf at the input page number</i></small>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                <button id="savePageButton" type="button" class="btn btn-primary"
                    style="background-color: #4D9217; border-color: #4D9217"
                    onclick="submitSavePageForm()">Save</button>
            </div>
        </div>
    </div>
</div>