.App {
  text-align: center;
  height: 400px;
  width: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 16.75%;
  width: 100%;
  background-color: white;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
}

.App-header-item {
  display: flex;
  padding-top: 20px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-content {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 83.25%;
  width: 100%;
  background-color: white;
}

.pdf-view {
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 283px;
  width: 472px;
  border-radius: 25px;
  border-style: solid;
  border-color: #EB3A3A;
  background-color: white;
}

.list-view {
  background-color: white;
  height: 231px;
  overflow-y: overlay;
  width: 100%;
}

.pdf-item, .bookmark-item {
  display: grid;
  grid-template-columns: 76% 8% 8% 6% 2%;
  justify-content: center;
  align-items: center;
  width:97%;
  height: 77px;
}

.bookmark-item {
  height: 38px;
}

.pdf-item-bar, .pdf-item-bar-open {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 80% 20%;
  align-items: center;
  padding-left: 3%;
  text-align: left;
  height: 38px;
  border: solid;
  border-color: #988787;
  border-left-width: 0;
  background-color: #E7D3D3;
  cursor: pointer;

  /* TODO(Kenny): check overflow of left side grid in item bar (Priority: Low)*/
  /* Prevent overflow */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pdf-item-bar-open {
  background-color: #EB3A3A;
  opacity: 0.72;
}

.pdf-item-bar-right {
  display: flex;
  padding-right: 7%;
  margin-left: auto; 
  margin-right: 0;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}